
@font-face {
    font-family: 'outfit_oneregular';
    src: url('../../public/assets/Outfit-Regular.woff2') format('woff2'),
         url('../../public/assets/Outfit-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

header {
    font-weight:600;
    text-align:center;
  
  }




